#kf5-support-btn {
    background-color: transparent !important;
    box-shadow: none !important;
    width: 60px !important;
    height: 60px !important;
    &:after {
        content: ' ';
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../images/free-chat.png);
        background-size: 100%;
        -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
    img {
        display: none;
    }
}
